.banner__img {
  img {
    width: 100%;
    height: auto;
  }
  
  img.ng-lazyloaded {
    animation: fadein 0.9s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
