/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body { 
    margin:0; 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button,
button:active,
button:focus {
    outline: none;
}
// img.ng-lazyloaded {
//     animation: fadein .5s;
// }

// @keyframes fadein {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }