.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0px;
  // position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  .nav__logo {
    color: white;
    font-size: x-large;
    font-weight: bold;
  }

  .nav__item__container {
    .nav__item {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      font-size: medium;
      margin-left: 5px;
    }

    .theme-mode__btn {
      background: none;
      border: none;
      cursor: pointer;
      font-size: medium;
    }

    .theme__icon {
        border-radius: 50%;
        transition: 0.2s ease-in-out;
    }

    .theme-mode__btn--day {
      color: black;
    }

    .theme-mode__btn--night {
      color: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 18px 15px;
    position: fixed;
  }
}